.cadastro{
    display:flex;
    margin: 50px 50px 70px 50px;
    background-color: var(--fundo-cadastro);
    padding: 40px 40px 40px 40px;
    justify-content: space-between;
    border-radius: 20px;
}
.texto-cabecalho{
    flex-direction: column;
    color: var(--branco);
}

.texto-para-cadastro{
    display: flex;
    flex-direction: column;
    margin: 0 1000px 30px 100px;
}
input{
    padding:12px;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 20px;
    
}
label{
    width:70%;
}
.label-direito{ 
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 20px;
}
